<!-- TODO: format and style -->
<div class="row" id="cohort-<%=cohort.id%>">
  <div class="col">
    <h1 class="title-header"><%= cohort.cohort_name %></h1>
    <h2>Start date: <%= cohort.start_date.strftime("%B %d, %Y") %></h2>
    <h2>End date: <%= cohort.end_date.strftime("%B %d, %Y") %></h2>
    <%= link_to 'View', cohort_path(cohort), class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_cohort_path(cohort), class: "btn btn-primary" %>
    <%= link_to 'Delete', delete_cohort_path(cohort), remote: true, method: 'delete', class: "btn btn-danger" %>
  </div>
</div>