<% unless @editing %>
  <h1> New cohort for <%= @course.course_name %> </h1>
<% end %>
<%= form_with model: @cohort do |f| %>
  <h1>Cohort name:</h1>
  <%= f.text_field :cohort_name %> <br>
  <h1>Start date:</h1>
  <%= f.date_field :start_date %> <br>
  <h1>End date:</h1>
  <%= f.date_field :end_date %> <br>
  <%= f.hidden_field :course_id %> <br>
  <%= f.submit "#{@editing ? "Edit" : "Create"} Cohort" %>
<% end %>