<!-- TODO: style this shit -->
<%= content_for :display do %>
  <h1> <%= "#{@student.first_name} #{@student.last_name}" %> </h1>
  <h2> Age: <%= @student.age %></h2>
  <h2> Highest level of education: <%= @student.highest_level_of_education %> </h2>
  <h2> <%#= link_to "View cohorts", cohorts_of_student_path(@student) %> </h2>
<% end %>

<%= content_for :controls do %>
  <%= link_to 'Edit student', edit_student_path(@student), class: "btn btn-primary" %>
  <%= link_to 'Delete student', delete_student_path(@student), method: 'delete' %>
<% end %>