<div class="row" id="course-<%=course.id%>">
  <div class="col">
    <h1 class="title-header"><%= course.course_name %></h1>
    <h2>Total Hours: <%= course.total_hours %></h2>
    <%= link_to 'View', course_path(course), class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_course_path(course), class: "btn btn-primary" %>
    <%= link_to 'Delete', delete_course_path(course), remote: true, method: 'delete', class: "btn btn-danger" %>
  </div>
</div>