<%= content_for :display do %>
  <h1> <%= @course.course_name %> </h1>
  <h2> Total hours: <%= @course.total_hours %> </h2>
<% end %>

<%= content_for :controls do %>
  <h1> Actions: </h1>
  <%= render partial: 'shared/control_button', locals: {text: 'Edit course', path: edit_course_path(@course)} %>
  <%= render partial: 'shared/control_button', locals: {text: 'View cohorts', path: cohorts_in_course_path(@course)} %>
  <%= render partial: 'shared/control_button', locals: {text: 'Add cohort', path: new_cohort_in_course_path(@course)} %>
  <%= render partial: 'shared/delete_button', locals: {text: 'Delete cohort', path: delete_course_path(@course)} %>
<% end %>