<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Home', main_path %>
        <%= link_to 'Courses', courses_path %>
      </nav>
    </header>

    <!-- this is the control panel on the left side of the screen -->
    <aside id="controls">
      <%= yield(:controls) %>
    </aside>

    <!-- this is where info is displayed, i.e. courses, cohorts, etc. -->
    <main id="display">
      <%= render partial: 'shared/flash' %>
      <%= yield(:display) %>
    </main>
  </body>
</html>
